<!DOCTYPE html>
<html>
<body>
    <h2>Enter Timetable Data</h2>
    <form action="/add_timetable" method="POST">
        <label>Classroom</label> <input type="text" name="classroom" required><br><br>
        <label>Subject</label> <input type="text" name="subject" required><br><br>
        <label>Teacher</label> <input type="text" name="teacher" required><br><br>
        <label>Time</label> <input type="text" name="time" required><br><br>

        <button type="submit">Save timetable</button>
    </form>
    <br>
    <a href="/"><- Back to menu</a>
</body>
</html>